# Variables, Expressions, Statements

## Your First Python Program

In [ ]:
## Print hello World on the screen
print("Hello World")

Hello World

## Values
- A value is a chunk of data. It is a basic thing that a program works with.

A value may be characters i.e. 'Hello, World! ' or a number like 1, 2.1

In [ ]:
# 2 is a value
print(2)

2

## Types
- Values are of different types. 1 is a number, 'Hello World' is a string.

In [ ]:
type(1) # integer type

int

In [ ]:
type('Hello, World!') # string type

str

In [ ]:
type(3.2) # floating point number type

float

In [ ]:
print("My name's is Ujjwal Khandelwal")

My name's is Ujjwal Khandelwal

In [ ]:
type("23")

str

## Variables
- A variable is a name that refers to a value.
- An assignment statement creates new variables and gives them values

In [ ]:
message = 'Now we are going to do something new'
n = 23
pi = 3.1417

In [ ]:
print(pi)

3.1417

- Type of the variable is the type of the value that it refers to

In [ ]:
type(message)

str

In [ ]:
type(n)

int

In [ ]:
type(pi)

float

In [ ]:
n = 12
print(n)

12

## Identifier
An identifier is a name used to identify a python object - variable, module, function, object, Class

Rules for defining identifiers -
- Identifiers cannot be keywords
- Identifiers can contain
  (a-z), (A-Z), (0-9), or (_) underscore character
- Identifiers cannot start with a number
- Identifiers cannot contain special symbols ($, @, !, etc)
- Identifiers are case sensitive - var_1 is different from Var_1

## Keywords
Keywords are reserved words in python. Keywords can only be used for specific purposes in python which are fixed.

In [ ]:
## print all keywords of python
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
x1 = 3 # valid identifier

In [ ]:
1x = 4 # invalid identifier because starts with number

SyntaxError: ignored

In [ ]:
n = 5
m = 6
print(n==m) # 6 5 equal

False

In [ ]:
total_marks = 100 # valid identifier with underscore

## Variable Naming best practices
- Start variable names with lower case
- Use underscores for readability
- Make variable names understandable in context

In [ ]:
total_score = 100 # clear
#total_score_in_match = 200
ts = 100 # unclear

## Operators and Operands
- **Operators** are special symbols used to represent operations such as addition or multiplication
- An operator is applied to values. The values that an operator is applied to are called **operands**
- **+**, **-** , **%**, **/** etc., are a few operators in python.

In [ ]:
2 + 3
x = 2
y = 4
print(x + y/2)

4.0

## Expressions and Statements
- An expression is a combination of values, variables and operators
- A value or a variable all by itself is also considered and expression
- The following are legal expressions : <br>
  23 <br>
  x <br>
  x + 23 <br>

In [ ]:
x = 4
y = 7
z = 10
print(x+y+3*z)

x # Variables
4 # Values
x+y+3*z # Expressions

41

- A statement is a unit of code that the python interpreter can execute
- We had looked at **assignment** statement earlier
- Technically, an expression is also a statement
- Main difference: An expression has a value but a statement does not

In [ ]:
number_of_days_in_week = 7