## Strings

- Datatype for storing text data
- Similar to list in many ways - concatenation, replication, usage with ```for```, ```in``` and ```not in``` operators, ```len()``` function etc

In [ ]:
## Example of string
my_string = "Hello World" # use single/double quotes for representing a piece of text data as a string
print(type(my_string))

<class 'str'>

#### Concatenation and replication
- Use ```+``` for concatenation and ```*``` for replication

In [ ]:
### Examples of concatenation and replication
str1 = "Hello, "
str2 = "World"
#print(str1 + str2 + " 2021" + "!")

print((str1 + str2)*2)

Hello, WorldHello, World

#### Raw strings
- Place ```r``` before a string to make it a raw string. All escape characters are ignored in a raw string

In [ ]:
## Example of raw strings
str_two_sents = "I have to learn python. \nI am taking a course."
#print(str_two_sents)

raw_str = r"I have to learn python. \nI am taking a course."
print(raw_str)

#### Multiline strings
- Use triple quotes to create multiline strings

In [ ]:
### Example of multi-line strings.
str_two_sents_multiline = '''I have to learn python.
I am taking a course. '''
print(str_two_sents_multiline)

I have to learn python.
I am taking a course.

#### Indexing and slicing strings
- Same as how you do for lists

In [ ]:
## Examples of indexing and slicing


str_1 = "HelloHari"

## This can be thought of as a list of characters
# len(str_1)
print(str_1[-3])
#print(str_1[6])

#print(str_1[-2])

a

In [ ]:
print(str_1[2:5])
print(str_1[2:-1])
print(str_1[:-1])
print(str_1[:])

llo
lloHar
HelloHar
HelloHari

#### ```in``` and ```not in``` operators with strings

In [ ]:
print(str_1)
#print('r' in str_1)
print('x' in str_1)

HelloHari
False

In [ ]:
print('Hari' in str_1)
print('hari' in str_1)

True
False

#### Commonly used String methods
- ```upper```, ```lower```, ```isupper```, ```islower``` methods
- These methods do not change the string itself and instead return a new value

In [ ]:
## Examples of upper and lower
# print(str_1.upper())
# print(str_1)
# print(str_1.lower())

str_1 = str_1.upper()
print(str_1)

HELLOHARI

- ```isupper``` and ```islower``` return ```True``` if there is atleast one alphabet in a string and if all of the alphabets present are upper or lower respectively. It returns ```False``` otherwise

In [2]:
str_1 = 'HelloHari'

In [4]:
### Examples of isupper and islower
#print(str_1.isupper())
print(str_1.islower())
#print('999'.isupper())

False

- ```startswith``` and ```endswith``` methods
- useful for comparison other than ```==```

In [ ]:
#### Examples of startswith and endswith
print(str_1)
print(str_1.startswith('HELLO'))
print(str_1.endswith('HARI'))
print(str_1.endswith('XYZ'))
## state of a registered vehicle based on license plate

HELLOHARI
True
True
False

- ```join``` and ```split```
- ```join``` is called on a string, gets passed a list of strings and returns a string

In [ ]:
### Example of using join 
s = ','.join(['Hari', 'Madhav', 'Ram', 'Shyam'])
s

'Hari,Madhav,Ram,Shyam'

- ```split``` is called on a string, gets passed a string and returns a list of strings

In [6]:
### Example of using split
names_str = "Hari, Madhav,Ram,Shyam"
names_list = names_str.split()
print(names_list)

['Hari,', 'Madhav,Ram,Shyam']

In [7]:
names_str = "Hari Madhav Ram Shyam"
names_list = names_str.split(' ')
print(names_list)

['Hari', 'Madhav', 'Ram', 'Shyam']